@import 'bourbon/bourbon';
$visual-grid: false;
$visual-grid-color: #333;
$visual-grid-size: 1000px;
@import 'neat/neat';


$torea-bay: #18339e;
$primary-color: $torea-bay;
$cadet-blue: #b2b8c3;
$secondary-color: $cadet-blue;


$font-family: 'Merriweather', serif;
$font-family: 'Abril Fatface', cursive;



.body {
  @include outer-container (1200px 800px);
  background-color: $secondary-color;
  max-width: 1900px;

}

ul {
  list-style: none;
}

.data {
  @include span-columns (12);
  border-style: border-box;
  padding-top: 10%;
  display: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B2C2DA;

}

.area {
  max-width: 400px;
}

.gender {
  margin-left: 60px;
}


/* .state {

} */


/* .location {} */


/* .type {} */


/* .height {} */
